# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

# Data science
*.csv
*.h5
*.parquet
*.pickle
*.ipynb_checkpoints/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
